<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530924307633-fupc48tmv68rpmrq5vfv3e02s2nasni8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530924307633-fupc48tmv68rpmrq5vfv3e02s2nasni8</string>
	<key>API_KEY</key>
	<string>AIzaSyAm787LvCTaWdFYCHh0D2wrjBdGvkuZKlo</string>
	<key>GCM_SENDER_ID</key>
	<string>530924307633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mottu.marvel.imMottuMobile</string>
	<key>PROJECT_ID</key>
	<string>im-mottu-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>im-mottu-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530924307633:ios:6b22d265b866d87fc94e90</string>
</dict>
</plist>